In [1]:
import logging
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

root_path = Path().absolute().parents[1]
figures_path = root_path / "common" / "resources" / "images" / "intro"

In [2]:
data = pd.read_csv("anscombe.csv")
data

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [1]:
sns.set_style("whitegrid")

fig, axs = plt.subplots(2, 2, figsize=(10, 6))

for (dataset_number, dataset), ax in zip(data.groupby('dataset'), axs.flat):
    print(f"Dataset {dataset_number}")

    model = LinearRegression()
    model.fit(dataset['x'].to_numpy().reshape(-1, 1), dataset['y'].to_numpy())

    print(f"Coefficient: {model.coef_[0]:.4f}")
    print(f"Intercept: {model.intercept_:.3f}")

    x = np.linspace(2, 20, 100).reshape(-1, 1)
    y_pred = model.predict(x)

    sns.lineplot(x=x.flatten(), y=y_pred, ax=ax, color="C1", zorder=5)

    sns.scatterplot(x='x', y='y', data=dataset, ax=ax, zorder=10)

    ax.set_title(f"Dataset {dataset_number}")

    ax.set_xlim(2, 20)
    ax.set_xticks(range(4, 19, 2))

    ax.set_ylim(2, 14)
    ax.set_yticks(range(4, 13, 2))

    print()

fig.tight_layout()
fig.savefig(figures_path / "anscombe.svg")

NameError: name 'sns' is not defined