In [1]:
import pandas as pd

In [44]:
outlays = pd.read_csv('budget-outlays.csv', index_col=0).squeeze()
print(outlays.sum())
outlays

6751552

classification
National Defense                                         874041
International Affairs                                     71992
General Science, Space, and Technology                    41562
Energy                                                    13790
Natural Resources and Environment                         56892
Agriculture                                               34747
Commerce and Housing Credit                               35568
Transportation                                           137122
Community and Regional Development                        87766
Education, Training, Employment, and Social Services     305026
Health                                                   911684
Medicare                                                 874134
Income Security                                          671076
Social Security                                         1460914
Veterans Benefits and Services                           325363
Administration of Justice                                 85034
General Government                                        29928
Net Interest                                             881651
Undistributed Offsetting Receipts                       -146738
Name: value, dtype: int64

In [20]:
outlays_threshold = 150000

outlays_others = outlays[outlays <= outlays_threshold]
outlays_others_value = outlays_others.sum()
outlays_others_value

np.int64(447663)

In [42]:
outlays_grouped = outlays[outlays > outlays_threshold].sort_values(ascending=False)
outlays_grouped['Others'] = outlays_others_value

outlays_grouped_normalized = (outlays_grouped / outlays_grouped.sum() * 100).round(3)
outlays_grouped_normalized.agg([lambda x: x, 'cumsum'])

/var/folders/2p/xwbh96650y954yp6j0bgdw9h0000gp/T/ipykernel_246/2800655073.py:5: FutureWarning: using <function <lambda> at 0x109c8cca0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  outlays_grouped_normalized.agg([lambda x: x, 'cumsum'])

                                                    <lambda>   cumsum
classification
Social Security                                       21.638   21.638
Health                                                13.503   35.141
Net Interest                                          13.058   48.199
Medicare                                              12.947   61.146
National Defense                                      12.946   74.092
Income Security                                        9.940   84.032
Veterans Benefits and Services                         4.819   88.851
Education, Training, Employment, and Social Ser...     4.518   93.369
Others                                                 6.631  100.000

In [57]:
receipts = pd.read_csv('budget-receipts.csv', index_col=0).squeeze()
print(receipts.sum())
print(receipts.sum() / outlays.sum())
receipts

4918736
0.7285341207473481

classification
Individual Income Taxes                     2426067
Corporation Income Taxes                     529867
Social Insurance and Retirement Receipts    1709559
Excise Taxes                                 101435
Estate and Gift Taxes                         31616
Customs Duties                                77037
Miscellaneous Receipts                        43155
Name: value, dtype: int64

In [62]:
receipts_normalized = ((receipts / receipts.sum() * 100) * receipts.sum() / outlays.sum()).round(2).sort_values(ascending=False)
receipts_normalized.agg([lambda x: x, 'cumsum'])

/var/folders/2p/xwbh96650y954yp6j0bgdw9h0000gp/T/ipykernel_246/2744944006.py:2: FutureWarning: using <function <lambda> at 0x109ce9e50> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  receipts_normalized.agg([lambda x: x, 'cumsum'])

                                          <lambda>  cumsum
classification
Individual Income Taxes                      35.93   35.93
Social Insurance and Retirement Receipts     25.32   61.25
Corporation Income Taxes                      7.85   69.10
Excise Taxes                                  1.50   70.60
Customs Duties                                1.14   71.74
Miscellaneous Receipts                        0.64   72.38
Estate and Gift Taxes                         0.47   72.85

In [61]:
100 - 72.85

27.150000000000006