In [4]:
import pandas as pd
from pandas.core.dtypes.cast import convert_dtypes

# Preprocessing

In [11]:
sp500_assets = pd.read_csv('sp500-assets.csv', index_col=0, header=[0, 1])

sp500_assets = sp500_assets.stack(level=1, future_stack=True).reset_index(level=1)
sp500_assets = sp500_assets.rename(columns={'level_1': 'Ticker'})

sp500_assets.index = pd.to_datetime(sp500_assets.index)

sp500_assets

           Ticker       Close        High         Low        Open       Volume
Date
2010-01-04      A   20.229710   20.442994   20.119835   20.287877    3815561.0
2010-01-04    AAL    4.496876    4.657142    4.393175    4.562868    9837300.0
2010-01-04    AAP   36.703857   37.303772   36.685678   36.994725    1701700.0
2010-01-04   AAPL    6.496294    6.511168    6.446815    6.478688  493729600.0
2010-01-04   ABBV         NaN         NaN         NaN         NaN          NaN
...           ...         ...         ...         ...         ...          ...
2023-07-06    YUM  134.634995  136.639999  134.350006  135.660004     339813.0
2023-07-06    ZBH  140.490005  141.750000  140.210007  141.690002     180725.0
2023-07-06   ZBRA  285.144989  289.325012  284.769989  287.399994      81970.0
2023-07-06   ZION   27.285000   27.389999   26.690001   27.379999    1941690.0
2023-07-06    ZTS  167.942993  169.729996  167.080002  167.630005     361515.0

[1709697 rows x 6 columns]

In [12]:
sp500_assets_close_stats = sp500_assets.groupby(pd.Grouper(freq='D')).apply(lambda group: group['Close'].notna().sum())
sp500_assets_close_stats[sp500_assets_close_stats == 503]

Date
2022-12-15    503
2022-12-16    503
2022-12-19    503
2022-12-20    503
2022-12-21    503
             ...
2023-06-28    503
2023-06-29    503
2023-06-30    503
2023-07-03    503
2023-07-05    503
Length: 137, dtype: int64

In [20]:
date = pd.to_datetime('2022-12-29')

sp500_shares_subset_after = sp500_assets[sp500_assets.index == date]
sp500_shares_subset_after.to_csv(f'sp500-shares-{date.date()}.csv', index=False)

sp500_shares_subset_before = sp500_assets[sp500_assets.index == date - pd.Timedelta(days=1)]
sp500_shares_subset_before.to_csv(f'sp500-shares-{(date - pd.Timedelta(days=1)).date()}.csv', index=False)