In [1]:
import pandas as pd
import plotly.express as px

In [2]:
sp500_before = pd.read_csv('sp500-shares-2022-12-28.csv')
sp500_before.set_index('Ticker', inplace=True)

sp500_after = pd.read_csv('sp500-shares-2022-12-29.csv')
sp500_after.set_index('Ticker', inplace=True)

sp500_stock_change = ((sp500_after - sp500_before) / sp500_before * 100).round(2)
sp500_stock_change

        Close  High   Low  Open  Volume
Ticker
A        2.03  0.35  0.93 -0.11    8.94
AAL      3.08  0.24  0.41 -1.04   -3.73
AAP      0.70  0.20  0.93  0.80    4.90
AAPL     2.83 -0.42  1.48 -1.30  -11.39
ABBV     0.20 -0.49  0.05 -0.45    5.71
...       ...   ...   ...   ...     ...
YUM      0.53 -0.10 -0.33 -0.49   -9.24
ZBH      1.46 -0.02  0.29 -0.61   -8.47
ZBRA     4.33  1.65  1.17 -0.37   13.97
ZION     2.31  0.84 -0.02 -1.66    0.73
ZTS      3.00  1.28  0.95  0.01  -10.04

[503 rows x 5 columns]

In [3]:
sp500_companies = pd.read_csv('sp500-companies-2022-12-29.csv')
sp500_companies.set_index('Symbol', inplace=True)

sp500_companies_capitalization = sp500_companies[['Marketcap', 'Sector', 'Industry']]

sp500_companies_capitalization

            Marketcap                  Sector                        Industry
Symbol
AAPL    2005057011712              Technology            Consumer Electronics
MSFT    1760846544896              Technology         Software—Infrastructure
GOOGL   1116763193344  Communication Services  Internet Content & Information
GOOG    1115221655552  Communication Services  Internet Content & Information
AMZN     834703130624       Consumer Cyclical                 Internet Retail
...               ...                     ...                             ...
LNC        5336336896      Financial Services                  Insurance—Life
ALK        5238409216             Industrials                        Airlines
LUMN       5211600384  Communication Services                Telecom Services
NCLH       5061068800       Consumer Cyclical                 Travel Services
VNO        4004215808             Real Estate                     REIT—Office

[494 rows x 3 columns]

In [4]:
sp500_stock_stats = pd.merge(sp500_stock_change, sp500_companies_capitalization, left_index=True, right_index=True)

sp500_stock_stats.index.name = 'Ticker'
sp500_stock_stats.reset_index(inplace=True)

sp500_stock_stats

,Ticker,Close,High,Low,Open,Volume,Marketcap,Sector,Industry
0,A,2.03,0.35,0.93,-0.11,8.94,43845300224,Healthcare,Diagnostics & Research
1,AAL,3.08,0.24,0.41,-1.04,-3.73,8006779904,Industrials,Airlines
2,AAP,0.70,0.20,0.93,0.80,4.90,8609562624,Consumer Cyclical,Specialty Retail
3,AAPL,2.83,-0.42,1.48,-1.30,-11.39,2005057011712,Technology,Consumer Electronics
4,ABBV,0.20,-0.49,0.05,-0.45,5.71,286900518912,Healthcare,Drug Manufacturers—General
...,...,...,...,...,...,...,...,...,...
481,YUM,0.53,-0.10,-0.33,-0.49,-9.24,37905027072,Consumer Cyclical,Restaurants
482,ZBH,1.46,-0.02,0.29,-0.61,-8.47,26320318464,Healthcare,Medical Devices
483,ZBRA,4.33,1.65,1.17,-0.37,13.97,13191499776,Technology,Communication Equipment
484,ZION,2.31,0.84,-0.02,-1.66,0.73,7505530880,Financial Services,Banks—Regional
485,ZTS,3.00,1.28,0.95,0.01,-10.04,68049715200,Healthcare,Drug Manufacturers—Specialty & Generic

In [7]:
colorscale = [
    [0.0, 'rgb(245,53,56)'],
    [0.5, 'rgb(65,69,84)'],
    [1.0, 'rgb(49,204,91)'],
]

fig = px.treemap(
    sp500_stock_stats.convert_dtypes(),
    path=[px.Constant('S&P500'), 'Sector', 'Ticker'],
    values='Marketcap',
    color='Close',
    color_continuous_scale=colorscale,
    range_color=[-3, 3],
    title='S&P 500 Treemap: December 29, 2022',
)

# Define a text template to show ticker + percentage
fig.update_traces(
    texttemplate='<b>%{label}</b><br>%{customdata[0]:.2f}%',  # Add percentage near the ticker
    textinfo='label+text+value'  # Show label (ticker), custom text, and market cap value
)

fig.update_layout(
    width=800,  # Width of the plot in pixels
    height=600,  # Height of the plot in pixels (equal to width for a square)
    title_x=0.5,
    coloraxis_showscale=False,
)

fig.show()
fig.write_image('tree.svg')

TypeError: treemap() got an unexpected keyword argument 'title_x'